@import "tailwindcss";


:root {
  --black : #171921;
  --blue : #6398ce;
  --dark-blue : #0D213A;
  --grey : #9EA3B5;
  --grey-2 : #545971;
  --grey-800: #ebedec;


  --font-s-title : 40px;
  interpolate-size: allow-keywords;
}

body {
  font-family:  var(--font-nunito-sans);
  background: #f2f1fa;
}

input {
  outline: 0;
  border:  0;
}

ul::marker{
  display: contents;
}

main .services_list > li:before{
  content: " ";
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: var(--grey);
  border-radius: 100%;
  position: relative;
  top: -4px;
  margin-right: 14px;
  margin-left: 14px;
}

main .services_list > li:first-child:before{
  display: none;
}

main .services_list > li {
  font-size: 20px;
  font-weight: 700;
  color: var(--grey);
  display: inline-block;
}


.discount_list > li::before{
  content: url('../public/svg/checkbox.svg');
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.discount_list > li{
  font-size: 20px;
  color: var(--blue);
}

#about ul > li::before,
#why-choose-us ul > li::before
{
  content: url('../public/svg/checkbox-2.svg');
  margin-right: 12px;
  display: block;
}

#about ul > li,
#why-choose-us ul > li{
  font-size: 20px;
  color : var(--dark-blue);
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
}


main h1{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(50px);
}

ul.advantages > li{
  padding-left: 32px;
  border-left: 1px solid;
  border-image: linear-gradient(180deg, 
        rgba(79, 102, 183, 0) 0%, 
        #4F66B7 47.92%, 
        rgba(79, 102, 183, 0) 100%) 1;;
  transform: translateY(80px) scaleY(1);
  transform-origin: 0% 100%;
  opacity: 0;
}

ul.advantages > li:first-child{
  padding-left: unset;
  border: none;
}

@media (width <= 1440px) {
  ul.advantages > li{
    padding-left: 24px;
  }
}

@media (width <= 720px) {
  ul.advantages {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    margin-inline: auto;
    gap: unset;
  }

  ul.advantages > li{
    border : none;
    flex-direction: column;
    padding: 24px !important;
    gap: 8px;
    
  }

  ul.advantages > li img{
    width: 32px;
  }

  ul.advantages > li span{
    text-align: center;
    font-size: 14px;
  }
}

.faq_box {
  overflow: hidden;
}

.faq_box > p {
  max-height: 0;
  overflow: hidden;
  content-visibility: hidden;
  transition: max-height 1s;
}

.faq_box.active > p {
  max-height: 500px;
  content-visibility: visible;
}

.faq_box.active{
  background: #F3F5F9;
}

.faq_box.active img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@supports (transition: content-visibility allow-discrete) {
  .faq_box p {
    transition: max-height 0.5s ease, content-visibility 0.5s allow-discrete;
  }
  
  @starting-style {
    .faq_box.active {
      content-visibility: hidden;
    }
  }
}


main .left_img {
  position: relative;
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
} 

main .right_img {
  position: relative;
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
}

main .left_img .overlay,
main .right_img .overlay{
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
}

main .left_img .overlay{
    background:linear-gradient(320deg, #131f4b 4.15%, rgba(19, 31, 75, 0) 43.25%);
}

main .right_img .overlay{
    background:linear-gradient(40deg, #131f4b 4.15%, rgba(19, 31, 75, 0) 43.25%);
}

.wrapper { 
  padding-inline: 38px;
  max-width: 1240px;
  margin-inline: auto;
}

.p-button {
  color: white;
  background: var(--blue);
  border: 1px solid var(--red);
  padding: 14px 36px;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 60px;
  cursor: pointer;
}

.p-button.secondary {
  background: white;
  color: var(--dark-blue);
}

.s-title  {
  color : var(--dark-blue);
  font-weight : 700;
  font-size : var(--font-s-title);
  line-height: 64px;
}

.s-text {
  color : var(--grey-2);
  font-size : 18px;
  line-height: 28px;
}


@media (width <= 1440px) {
  :root{
    --font-s-title :32px;
  }

  .s-title  {
    line-height: 42px;
  }

  .p-button {
    font-size: 16px;
    padding: 8px 32px;
  }
}

@media (width <= 40rem) {
  :root{
    --font-s-title :24px;
  }

  .s-title  {
    line-height: 32px;
  }

  .wrapper { 
    padding-inline: 24px;
  }
}


.swiper_container {
  padding: 2rem 0;
  position: relative;
  margin: 0 auto;
   -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.swiper-slide {
  width: 300px !important;
  height: 400px !important;
  position: relative;
}

@media (max-width: 500px) {
  .swiper-slide {
    width: 200px !important;
    height:300px !important;
  }
  .swiper-slide img {
    width: 200px !important;
    height:300px !important;
  }
}

.swiper-slide img {
  width: 300px;
  height: 400px;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
  user-select: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination{
  position: unset !important;
  margin-top: unset !important;
}

.slider-controler .slider-arrow {
  background: var(--blue);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  /* left: 42%; */
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: fit-content !important;  
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--blue);
  width: 20px;
  border-radius: 12px;
}

.slider-controler .slider-arrow {
    transform: unset !important;
}


.scroller:hover .scroller__inner {
  animation-play-state: paused;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

/* .scroller .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 90s)
    var(--_animation-direction, forwards) linear infinite;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
} */


